In [3]:
import pandas as pd 
%pip install openpyxl

Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
xls= pd.ExcelFile("global_superstore_2016.xlsx")
xls.sheet_names

['Orders', 'Returns', 'People']

In [9]:
orders = pd.read_excel(xls, sheet_name="Orders", engine='openpyxl')
people = pd.read_excel(xls, sheet_name="People", engine='openpyxl')
returns = pd.read_excel(xls, sheet_name="Returns", engine='openpyxl')

In [11]:
print(orders.head())

   Row ID                  Order ID Order Date  Ship Date     Ship Mode  \
0   40098  CA-2014-AB10015140-41954 2014-11-11 2014-11-13   First Class
1   26341    IN-2014-JR162107-41675 2014-02-05 2014-02-07  Second Class
2   25330    IN-2014-CR127307-41929 2014-10-17 2014-10-18   First Class
3   13524   ES-2014-KM1637548-41667 2014-01-28 2014-01-30   First Class
4   47221   SG-2014-RH9495111-41948 2014-11-05 2014-11-06      Same Day

    Customer ID     Customer Name      Segment  Postal Code           City  \
0  AB-100151402     Aaron Bergman     Consumer      73120.0  Oklahoma City
1     JR-162107     Justin Ritter    Corporate          NaN     Wollongong
2     CR-127307      Craig Reiter     Consumer          NaN       Brisbane
3    KM-1637548  Katherine Murray  Home Office          NaN         Berlin
4    RH-9495111       Rick Hansen     Consumer          NaN          Dakar

   ...   Product ID    Category Sub-Category  \
0  ...  TEC-PH-5816  Technology       Phones
1  ...  FUR-CH-5379   Furniture       Chairs
2  ...  TEC-PH-5356  Technology       Phones
3  ...  TEC-PH-5267  Technology       Phones
4  ...  TEC-CO-6011  Technology      Copiers

                                Product Name     Sales Quantity Discount  \
0                           Samsung Convoy 3   221.980        2      0.0
1  Novimex Executive Leather Armchair, Black  3709.395        9      0.1
2          Nokia Smart Phone, with Caller ID  5175.171        9      0.1
3             Motorola Smart Phone, Cordless  2892.510        5      0.1
4             Sharp Wireless Fax, High-Speed  2832.960        8      0.0

     Profit  Shipping Cost  Order Priority
0   62.1544          40.77            High
1 -288.7650         923.63        Critical
2  919.9710         915.49          Medium
3  -96.5400         910.16          Medium
4  311.5200         903.04        Critical

[5 rows x 24 columns]

In [12]:
print(people.head())

              Person           Region
0  Marilène Rousseau        Caribbean
1   Andile Ihejirika   Central Africa
2  Nicodemo Bautista  Central America
3     Cansu Peynirci     Central Asia
4         Lon Bonher       Central US

In [15]:
orders['Order Date']= pd.to_datetime(orders['Order Date'],errors='coerce')
orders['Ship Date'] = pd.to_datetime(orders['Ship Date'], errors='coerce')

# Convert Sales and Profit to numeric (in case they're stored as text)
orders['Sales'] = pd.to_numeric(orders['Sales'], errors='coerce')
orders['Profit'] = pd.to_numeric(orders['Profit'], errors='coerce')

In [16]:
len(orders)

51290

In [17]:
orders.dropna(subset=['Order ID','Order Date','Sales','Profit'],inplace=True)

In [18]:
len(orders)

51290

In [24]:
order_people = orders.merge(people,how='right',on='Region')
print(order_people.head())
print(len(order_people))

   Row ID                 Order ID Order Date  Ship Date       Ship Mode  \
0   220.0  US-2012-RR1952536-41270 2012-12-27 2012-12-29    Second Class
1  2641.0  US-2012-LH1675036-41129 2012-08-08 2012-08-08        Same Day
2   879.0  MX-2015-TM2149031-42329 2015-11-21 2015-11-21        Same Day
3  5306.0  MX-2015-TB2125031-42289 2015-10-12 2015-10-15     First Class
4  6019.0  MX-2013-JF1529531-41564 2013-10-17 2013-10-21  Standard Class

  Customer ID   Customer Name    Segment  Postal Code              City  ...  \
0  RR-1952536       Rick Reed  Corporate          NaN     Santo Domingo  ...
1  LH-1675036    Larry Hughes   Consumer          NaN     Santo Domingo  ...
2  TM-2149031   Tony Molinari   Consumer          NaN          Camagüey  ...
3  TB-2125031    Tim Brockman   Consumer          NaN  Santiago de Cuba  ...
4  JF-1529531  Jason Fortune-   Consumer          NaN        Guantánamo  ...

     Category Sub-Category                                 Product Name  \
0  Technology       Phones                    Samsung Smart Phone, VoIP
1  Technology       Phones                Samsung Smart Phone, Cordless
2  Technology      Copiers              Brother Fax Machine, High-Speed
3   Furniture       Tables   Chromcraft Computer Table, Fully Assembled
4   Furniture       Chairs  Office Star Executive Leather Armchair, Red

       Sales Quantity Discount    Profit Shipping Cost  Order Priority  \
0  1696.6400      5.0    0.200 -148.4600       704.056        Critical
1  2044.8000      6.0    0.200 -332.2800       417.990            High
2  1053.6884      5.0    0.002  441.2884       367.549            High
3  1483.0000      5.0    0.000  741.5000       303.649            High
4  2818.0800      9.0    0.000  225.3600       289.515            High

              Person
0  Marilène Rousseau
1  Marilène Rousseau
2  Marilène Rousseau
3  Marilène Rousseau
4  Marilène Rousseau

[5 rows x 25 columns]
50908

In [29]:
order_people.to_csv("cleaned_orders.csv",index=False)

In [30]:
import sqlite3

In [31]:
conn = sqlite3.connect("retail_project.db")

In [32]:
orders.to_sql("Orders",conn)

ValueError: Table 'Orders' already exists.

In [34]:
orders.to_sql("Orders", conn, if_exists="replace", index=False)
people.to_sql("People", conn, if_exists="replace", index=False)
returns.to_sql("Returns", conn, if_exists="replace", index=False)
order_people.to_sql("OrdersPeople", conn, if_exists="replace", index=False)

50908